/* *{
    margin: 0;
    padding: 0;
} */

body{
    background-color: black;
}

.content{
    background-color: aqua;
    width: 900px;
    height: 450px;
    margin-top: 10%;
    margin-left: 22%;
    display: flex;
}

.control{
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}

h3{
    color: rgba(165, 4, 93, 0.467);
    text-shadow: rgba(0, 0, 0, 0.5);
    font-style: italic;
    font-size: large;
}
button{
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid rgb(250, 214, 214);
    background-color: rgb(83, 83, 251);
    border-radius: 5px;
    width: 120px;
}

#start{
    background-color: rgb(207, 44, 4);
    width: 150px;
    margin-top: 40px;
}
#result{
    border: solid black;
    margin: 60px;
    height: 320px;
    display: inline-block;
    flex: 1;
}